/* ---------------- Buy Dropdown -------------- */

.Options-main-model, .Options-navBar:hover .Options-main-model{
    justify-content: space-between; position: absolute; gap: 40px; padding: 20px 30px;
    border-radius: 10px; border-top-left-radius: 0; box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    padding-right: 80px; display: none; margin-left: 1px; z-index: 1; background: #fff;
}
.Options-navBar:hover .Options-main-model{display: flex;}
.Options-navBar:hover .help-container{display: block;}
.Options-conatainer-model .options-heading{
    color: rgba(0, 0, 0, 0.9); font-size: 16px;
}
.Options-conatainer-model li{
    color: rgba(0, 0, 0, 0.8); font-size: 14px; gap: 40px; cursor: pointer; line-height: 30px; width: auto;
}
.Options-conatainer-model li:hover.options-heading{color: #000; cursor: text;}
.Options-conatainer-model li:hover{color: rgb(226, 86, 31);}
.Options-conatainer-model li a{color: #000;}
.Options-conatainer-model li span, .navbar-options span{background: rgba(255, 190, 12, 0.952); padding: 0 5px; border-radius: 20px; text-transform: uppercase; font-size: 11px;}
.Options-conatainer-model .sell-cont:hover, .Options-conatainer-model .sell-cont{color: rgba(0, 0, 0, 0.5);}
.Options-conatainer-model li:hover span{color: #000;}
.Options-navBar:hover .navbar-options, .Options-navBar:hover .navbar-options span.downArrow-icon{color: rgb(226, 86, 31);}
.Options-navBar:hover .navbar-options span{color: initial;} 
.navbar-options span{font-size: 14px;}
.Options-conatainer-model:hover li hr{border: 1px solid rgb(226, 86, 31);}
.navbar-options span.downArrow-icon{padding-top: 6px; float: right; background: none;}
.Options-navBar:hover span.downArrow-icon{transform: rotate(180deg);}
/* --------------- Rent Dropdown --------------- */
.Mb-model, .Loan-model, .Interior-model{float: left; right: 90px; border-radius: 10px;}
